<!doctype html>
      <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Das Zusammenspiel zwischen Usability und SEO</title>
        <link rel="stylesheet" href=/assets/css/freelancer.css>
        <script src="https://kit.fontawesome.com/e4f2b8d9e6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+" crossorigin="anonymous">
      </head>
      <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top"><img id="thlogo" src=https://ivan-hr.github.io/seousa/assets/images/logo.svg></a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Navigation
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=https://ivan-hr.github.io/seousa/index>Start</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=https://ivan-hr.github.io/seousa/seo>Seo</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=https://ivan-hr.github.io/seousa/usability>Usability</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Masthead -->
      <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">


          <!-- Masthead Heading -->
          <h1 class="masthead-heading text-uppercase mb-0">Usability und SEO</h1>

          <!-- Divider -->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
          </div>

          <!-- Masthead Subheading -->
          <h2 class="masthead-subheading font-weight-light mb-0">Tipps und Methoden für eine verbesserte Sichtbarkeit und Nutzbarkeit von Internetseiten</h2>

        </div>
      </header>

      <!-- Inhalte -->
      <section class="page-section portfolio" id="page-top">
        <div class="container">
          <h1 id="das-zusammenspiel-zwischen-usability-und-seo">Das Zusammenspiel zwischen Usability und SEO</h1>
<p>Die Inhalte auf dieses Projekts stellen Tipps und Methoden für eine verbesserte Sichtbarkeit und Nutzbarkeit von Internetseiten auf einer Github Page dar, welche im Zuge der Projektarbeit ‘Das Zusammenspiel zwischen Usability und Suchmaschinenoptimierung’ ermittelt wurden.</p>

<p>Das Ziel dieser Projektarbeit war es, ein grundsätzliches Verständnis zum Thema Suchmaschinenoptimierung und Usability zu erlangen und zu vermitteln. Sowie zu untersuchen inwieweit sich diese beiden Bereiche innerhalb der Optimierung beeinflussen. Dieses Zusammenspiel der beiden Disziplinen und die Angeignung von Wissen in den Grundlagen, bzw. die vorgestellen Maßnahmen zur Optimierung können mit Hilfe von vorgestellten Werkzeugen gegen geprüft werden.</p>

<p>Aus Gründen der Nachhaltigkeit, werden die Ergebnisse der Arbeit als OpenSource Projekt in diesem Repository vorgestellt. Gerne möchten wir die Leser dazu anregen, dieses Projekt zu erweitern, verbessern und ggf. mit neuen Erkenntnissen oder Methoden anzureichern.</p>

<p>Link zum Projekt <a href="https://github.com/ivan-hr/seousa">Repository</a>.</p>

<p>Die Projektarbeit kann <a href="#">hier</a> als PDF Dokument heruntergeladen und gelesen werden.</p>

<!-- Die Projektarbeit wurde vorgelegt an der Technischen Hochschule Köln, Campus Gummersbach, Fakultät für Informatik und Ingenieurwissenschaften im Studiengang Wirtschaftsinformatik.

Prüfer: Prof. Christian Noss. Gummersbach im Oktober 2019.-->

<p>Thilo Kirberg und Ivan Rašić</p>


        </div>
      </section>


      <!-- Footer -->
      <footer class="footer text-center">
        <div class="container">
          <div class="row">

            <!-- Footer Autoren -->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Autoren & Kontakt</h4>
              <p class="lead mb-0"><i class="fas fa-user-circle"></i> <a href="mailto:ivan.rasic@smail.th-koeln.de">ivan.rasic@smail.th-koeln.de</a>
                <br><i class="fas fa-user-circle"></i> <a href="mailto:thilo.kirberg@smail.fh-koeln.de">thilo.kirberg@smail.fh-koeln.de</a></p>
            </div>

            <!-- Footer Ansprechpartner TH Köln -->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Technische Hochschule Köln</h4>
              <p class="lead mb-0"><i class="far fa-head-side-brain"></i> <a href="https://www.th-koeln.de/personen/christian.noss/" target="_blank">Prof. Christian Noss</a>
                <br><br><i class="fas fa-university"></i> <a href="https://www.th-koeln.de/informatik-und-ingenieurwissenschaften/" target="_blank">Fakultät für Informatik und Ingenieurwissenschaften</a></p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Github</h4>
              <p class="lead mb-0"><i class="fab fa-github"></i> <a href="https://github.com/ivan-hr/seousa" target="_blank">Usability und Suchmaschinenoptimierung</a></p>
            </div>

          </div>
        </div>
      </footer>

      <!-- Copyright Section -->
      <section class="copyright py-4 text-white">
        <div class="container">
          <small>Powered by <a href="https://jekyllrb.com/">Jekyll</a> & <a href="https://startbootstrap.com/themes/freelancer/">Start Bootstrap</a>.</small>
        </div>
      </section>


      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script src=assets/vendor/jquery/jquery.min.js></script>
      <script src=assets/vendor/bootstrap/js/bootstrap.bundle.min.js></script>

      <!-- Plugin JavaScript -->
      <script src=assets/vendor/jquery-easing/jquery.easing.min.js></script>

      <!-- Contact Form JavaScript -->
      <script src=assets/js/jqBootstrapValidation.js></script>
      <script src=assets/js/contact_me.js></script>

      <!-- Custom scripts for this template -->
      <script src=assets/js/freelancer.min.js></script>

    </body>

    </html>
